@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilos gerais e CSS Reset */

:root {
    --purple: #5280E2;
    --green: #15CDCB;
    --bg-dark: #212226;
    --light-gray: #E0DEDE;

    --menu-height: 75px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: var(--bg-dark);
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

p {
    color: var(--light-gray);
}

h1, h2 {
    margin: 0;
    font-weight: 400;
}

button {
    background: var(--purple);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

/* Header */

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0px 100px;
}

header .container img {
    display: none;
}

header .container h1 {
    color: var(--green);
}

header .container button {
    margin-top: 40px;
}

/* Nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--menu-height);
    background: var(--bg-dark);
    padding: 0px 100px;

    position: sticky;
    top: 0;

    z-index: 99;
}

nav img {
    height: 45px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    font-size: 22px;
    color: var(--green);
    text-decoration: none;
}

nav ul a svg {
    display: none;
}

section {
    height: 1500px;
    background: purple;
}


/* Responsividade (media queries) */

/* Desktops pequenos */
@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }

    nav ul a {
        font-size: 18px;
    }

    nav {
        padding: 0 30px;
    }
}

/* Tablet */
@media (max-width: 767px) {

    header .container img {
        display: inline;
        margin: 20px 0;
    }
    
    nav img {
        display: none;
    }

    nav ul {
        padding: 0;
    }

    nav ul a {
        font-size: 16px;
    }
}

/* Celular */
@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }

    nav {
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }

    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }
}
