@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilos gerais e CSS Reset */

:root {
    --purple: #5280E2;
    --green: #15CDCB;
    --bg-dark: #212226;
    --light-gray: #E0DEDE;

    --menu-height: 75px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-dark);
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

p {
    color: var(--light-gray);
}

button {
    background: var(--purple);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

/* Header */

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0px 100px;
}

header .container h1 {
    color: var(--green);
}

header .container button {
    margin-top: 40px;
}

/* Nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--menu-height);
    background: var(--bg-dark);
    padding: 0px 100px;

    position: sticky;
    top: 0;
}

nav img {
    height: 45px;
}

nav ul a {
    font-size: 20px;
    color: var(--green);
    text-decoration: none;
    margin: 0px 35px;
}
