@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilos gerais e CSS Reset */

:root {
    --purple: #5280E2;
    --green: #15CDCB;
    --bg-dark: #212226;
    --light-gray: #E0DEDE;
    --medium-gray: #2F3034;

    --menu-height: 75px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    background-color: var(--bg-dark);
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

p {
    color: var(--light-gray);
    margin:0;
}

h1, h2 {
    margin: 0;
    font-weight: 400;
}

button {
    background: var(--purple);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
}

.secondary-button {
    background: var(--medium-gray);
    border: 1px solid var(--purple);
    color: var(--green);
    font-weight: bold;

    height: 80px;

    display: flex;
    align-items: center;
}

.secondary-button img {
    margin-right: 15px;
}

.title-purple {
    color: var(--purple);
}

.title-green {
    color: var(--green);
}

/* Header */

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0px 100px;
}

header .container img {
    display: none;
}


header .container button {
    margin-top: 40px;
}

/* Nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--menu-height);
    background: var(--bg-dark);
    padding: 0px 100px;

    position: sticky;
    top: 0;

    z-index: 99;
}

nav img {
    height: 45px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    font-size: 22px;
    color: var(--green);
    text-decoration: none;
}

nav ul a svg {
    display: none;
}

/* Sobre mim */

.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;
}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.about-me .img-container img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.about-me .img-container .line {
    width: calc(50% + 50px);
    height: calc(100% + 50px);
    border: 1px solid var(--purple);

    position: absolute;
    top: -25px;
    left: calc(50% - 50%/2 - 25px);
}

.about-me .img-container .line.green {
    transform: rotate(-3.3deg);
    border-color: var(--green); 
}

/* Serviços */

.services {
    text-align: center;
    margin: 150px 0;
    padding: 0 100px;
}

.services-container, .portfolio-container {
    display: flex;
    justify-content: space-between;
    margin: 60px auto 0;
    max-width: 1200px;
}

.services .services-container .service-card {
    max-width: 360px;
    background: #2F3034;
    border: 1px solid var(--purple);
    border-radius: 16px;
    padding: 40px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.service-card + .service-card {   /* No segundo e terceiro, vai aplicar os estilos */ 
    margin-left: 10px;
}

.services .services-container .service-card svg{
    margin-bottom: 40px;
    width: 70px;
    height: auto;
    color: var(--green);
}

/* Portfólio */

.portfolio {
    padding: 0 100px;
    margin-bottom: 100px;
    text-align: center;
    background: url('./assets/bg.png');
    height: 800px;
}

.portfolio .portfolio-container {
    margin-top: 130px;
}

.portfolio .portfolio-container .portfolio-card {
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(42px);
    border: 1px solid white;

    border-radius: 16px;
    max-width: 360px;
    text-align: left;
    padding: 50px 25px;
}

.portfolio .portfolio-container .portfolio-card .img-container {
    margin: 0 25px 50px;
    position: relative;
}

.portfolio .portfolio-container .portfolio-card .img-container img {
    width: 100%;
    border-radius: 16px;
    transform: rotate(-1.93deg);
}

.portfolio-container .portfolio-card .img-container .line {
    width: calc(100% + 20px);
    height: calc(100% + 15px);
    border: 1px solid var(--green);
    border-radius: 16px;
    transform: rotate(-1.93deg);

    position: absolute;
    top: -10px;
    left: calc(50% - 100%/2 - 12px);
}

.portfolio .portfolio-container .portfolio-card .language-container {
    margin-bottom: 20px;
}

.portfolio .portfolio-container .portfolio-card .language-container ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.portfolio .portfolio-container .portfolio-card .language-container ul li {
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 16px;
    padding: 3px 15px;
}

.portfolio-card .language-container ul li + li {
    margin-left: 10px;
}

.portfolio-card + .portfolio-card {
    margin-left: 10px;
}

/* Currículo */

.curriculum {
    padding: 0 100px;
    text-align: center;
}

.curriculum .container {
    display: flex;
    margin: 50px auto;
    max-width: 1200px;
}

.curriculum .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    width: 100%;
}

.curriculum .container .content .curriculum-info {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 1rem;
    margin-bottom: 50px;
}

/* Contato */

.contact {
    max-width: 700px;
    margin: 150px auto 70px;
    text-align: center;
    padding: 0 20px;
}

.contact h1 {
    width: fit-content;
    margin: 0 auto 40px;
    background: -webkit-linear-gradient(#15CDCB, #5280E2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact button {
    margin: 40px auto;
}

.contact .social-media {
    max-width: 360px;
    margin: 50px auto 0; 
    display: flex;
    justify-content: space-around;
}

.contact .social-media a img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
}


/* Footer */

footer {
    text-align: center;
    margin-bottom: 40px;
}

/* Responsividade (media queries) */

/* Desktops pequenos */
@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }

    nav ul a {
        font-size: 18px;
    }

    nav {
        padding: 0 30px;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me .container, .about-me .img-container {
        width: 100%;
    }

    .about-me .container {
        padding-right: 0;
    }
    
    .about-me .img-container {
        margin: 20px 0;
    }

    .services, .portfolio {
        padding: 0;
    }

    .services .services-container, .portfolio .portfolio-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .services .service-card {
        height: 394px;
    }

    .service-card + .service-card, .portfolio-card + .portfolio-card {
        margin-left: 0;
        margin-top: 30px;
    }

    .portfolio {
        height: 100%;
    }

    .curriculum .container {
        flex-wrap: wrap;
    }

    .curriculum .container .curriculum-img {
        display: block;
        margin: 0 auto 50px;
        width: 100%;
        max-width: 520px;
    }
}

/* Tablet */
@media (max-width: 767px) {

    header .container img {
        display: inline;
        margin: 20px 0;
    }
    
    nav img {
        display: none;
    }

    nav ul {
        padding: 0;
    }

    nav ul a {
        font-size: 16px;
    }
}

/* Celular */
@media (max-width: 480px) {
    body {
        margin-bottom: calc(var(--menu-height) + 50px);
    }

    header .container {
        padding: 0 40px;
    }

    nav {
        width: 100%;
        position: fixed;
        bottom: 0;
        top: unset;
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }

    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }

    .about-me {
        padding: 40px;
        margin-top: 70px;
    }

    .services .services-container, .portfolio-container {
        padding: 0 20px;
    }

    .portfolio .portfolio-container {
        margin-top: 70px;
    }

    .portfolio {
        margin: 100px 0 50px;
    }

    .curriculum {
        padding: 0 20px;
    }

    .curriculum .container .content .curriculum-info {
        padding: 0 15px;
    }
}
